/local.properties
/build
/.idea
/.gradle
**.DS_Store
/.kotlin
**/build/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
*.podspec
*.jks
iosApp/iosApp.xcodeproj/xcuserdata
iosApp/iosApp.xcworkspace/xcuserdata
iosApp/iosApp/GoogleService-Info.plist
# NDK/CMake build trees (cactus-native, needle-native)
.cxx/
